# Rust build and test artifacts
/target/
**/*.rs.bk
*.pdb
**/mutants.out*/

# Nix and direnv artifacts
/result
/result-*
/.direnv/

# Local editor and OS metadata
/.idea/
/.vscode/
*.swp
.DS_Store

# direnv
.direnv